.search-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35%;
  width: 100%;
  background-image: url('../images/pattern-bg-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  &__title {
    margin: 30px 0 0;
    font-size: 30px;
    font-weight: 700;
    color: #fff;

    @include onPhone {
      margin-top: 15px;
      font-size: 16px;
      font-weight: 500px;
    }
  }

  &__arrow {
    width: 11px;
    height: 14px;
    background-image: url('../images/icon-arrow.svg');
    background-size: contain;


    @include onPhone {
      width: 6px;
      height: 8px;
    }
  }

  &__table {
    display: grid;
    grid-template: 1fr/repeat(4, 1fr);
    width: 100%;
    background-color: #fff;
    border-radius: 10px;

    @include onPhone {
      grid-template: 4fr/1fr;
    }
  }
}

.table-wraper {
  position: absolute;
  display: flex;
  width: 1000px;
  max-width: 90%;
  bottom: 0;
  transform: translateY(50%);

  @include onPhone {
    max-width: 90%;
  }
}

.form {
  position: relative;
  display: flex;
  width: 560px;
  margin-top: 30px;
  border: none;

  @include onPhone {
    max-width: 90%;
    margin-top: 15px;
  }

  &__input {
    height: 55px;
    width: 100%;
    border-radius: 10px 0 0 10px;
    border: none;
    background-color: #fff;
    padding: 0 0 0 20px;
    font-size: 16px;
    color: #000;

    @include onPhone {
      height: 30px;
      font-size: 10px;
      padding-left: 8px;
    }

    &:focus {
      outline: none;
    }

    &--no-valid {
      outline: 2px solid #ff5555;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 100%;
    border: none;
    background-color: #000;
    border-radius: 0 10px 10px 0;
    
    @include onPhone {
      width: 30px;
    }
    
    &:focus {
      outline: none;
    }
  }

  &__tooltip {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 200px;
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    box-shadow: 0px 2px 4px #001a;
    transition: transform 1s ease-in-out;
  }
}

.cell {
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 135px;
  padding: 30px;
  color: #2b2b2b;
  font-weight: 700;
  text-align: start;

  @include onPhone {
    padding: 10px;
    min-height: 0;
  }

  &:not(:last-child):after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 70px;
    width: 0;
    border: 1px solid #969696;

    @include onPhone {
      display: none;
    }
  }

  &__title {
    color: #969696;
    font-size: 12px;
    margin-bottom: 10px;

    @include onPhone {
      font-size: 10px;
      margin-bottom: 5px;
    }
  }

  &__content {
    font-size: 20px;

    @include onPhone {
      font-size: 16px;
    }
  }
}
